@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..500&display=swap');
@font-face {
  font-family: "Chopper";
  src:
    local("Chopper"),
    url("./media/fonts/Chopper.woff2") format("woff2"),
    url("./media/fonts/Chopper.woff") format("woff");
}



:root {
  --aspect-ratio: calc(3/2)
}

html, body {
  width: 100%;

  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {

  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: x-large;

}

.scrollable-body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
}

/* General classes */

input {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: x-large;

  border-radius: 5vh;
  border: solid black 0.07em;
  box-sizing: border-box;

  padding: 0.2em 0.8em;
}

input[type="button"], input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: color 100ms, background-color 100ms;
}

input[type="button"]:hover, input[type="submit"]:hover {
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.rounded-corners {
  border-radius: 1.5em;
}

.title {
  font-family: "Chopper", serif;
  font-size: xx-large;
  padding-bottom: unset;
}

.title > span {
  font-size: larger;
}

.title-small {
  font-family: "Chopper", serif;
  font-size: xx-large;
  padding-bottom: 1em;
}

.subtitle {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  padding-bottom: 0.7em;
}

.subtitle-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  padding-bottom: 0.7em;
}

.small-subtitle {
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: large;
}


.normal-text-bold {
  font-weight: 400;
}


.popup {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0px;

  background-color: rgba(0,0,0,0.3);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup > div {
  border-radius: 1.5em;
  background: white;
  padding: 3em;
  padding-top: 2.5em;
  width: 70vw;
  max-width: 30em;
}

.popup .dismiss {
  font-size: xx-large;
  position: absolute;
  top: 0em;
  right: 0.5em;
  cursor: pointer;
  padding: 0.3em;
  user-select: none;
  -webkit-user-select: none;
}

.newsletter-form {
  position: relative;
}

.newsletter-form > .subtitle-bold {
  text-align: center;
  padding-bottom: 0.6em;
}

.newsletter-form > form {
  display: flex;
  margin: 1em 0em;
  gap: 0.6em;
}

.newsletter-form > form > input[type="email"] {
  flex-grow: 1;
} 

.newsletter-form > .terms {
  font-size: medium;
  text-align: center;
  color: grey;
}

/* Specific classes  */

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  box-shadow: 0vh 0vh 1em rgba(0,0,0,0.3);
  z-index: 1;
  padding: 7em;
  width: calc(80vw - 14em);
}

.content-box > .gap {
  height: 7em;
}

.sideburn {
  background-image: url("./media/flower_pattern_big2.svg");
  background-size: 32rem;
  
  flex-grow: 1;
  align-self: stretch;
  /*! width: 12em; */
}

.sideburn-right {
  background-image: url("./media/flower_pattern_big2_right.svg");
  background-position: 0% 1.5%;
}

.sideburn-left {
  background-position: 100% 1.5%;
}

.logo-title {
  width: 18em;
  padding-bottom: 2em;
  display: flex;
  justify-content: left;
}

.logo-title > img {
  width: 100%;
}

.section-welcome {
  height: calc(100vh - 14em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5em;
}

.section-welcome .rounded-corners {
  height: 80vh;
  flex-grow: 1;
}

.section-synopsis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.section-synopsis .gio {
  height: 22em;
  align-self: flex-end;
  padding-bottom: 0.7em;
}

.section-synopsis .marco {
  height: 31em;
  align-self: flex-end;
}

.section-synopsis > div {
  padding-bottom: 8em;
}

.section-setting {
  display: flex;
  align-items: center;
  gap: 4em;
}

.section-setting > img {
  height: 70vh;
}

.section-setting > div {
  padding-bottom: 8em;
}

.section-characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.section-characters .single-character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.section-characters .single-character > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.section-characters .single-character > div > div {
  width: 30%;
}

.section-characters .single-character > div > img {
  width: 30%;
}

.section-characters .single-character > div > .gio-crosslegged {
  width: 27%;
}

.section-characters .single-character > div > .gio-crossarms {
  padding-bottom: 1em;
}

.section-characters .single-character > div > .gio-couch {
  width: 62%;
}

.section-characters .single-character > .marco-second-row > img {
  width: 27%;
}

.section-characters .single-character > div > .marco-standing-front {
  width: 23%;
}

.section-living-room {
  width: 75%;
}

.section-living-room > div {
  background-color: black;
}

.section-living-room > div > img {
  padding: 1em;
  width: calc(100% - 2em);
}

.section-contacts {
  padding-top: 2em;
}

.section-contacts input {
  margin-top: 1.5em;
}

.section-contacts > div {
  text-align: center;
}

.section-contacts > .subtitle-bold {
  padding-bottom: .4em;
}

.section-contacts > .normal-text-bold {
  padding-bottom: 1.5em;
}

.section-contacts > .normal-text {
  padding-bottom: 1em;
}

.newsletter {
  padding-bottom: 9em;
}

.section-team {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.team-member {
  display: flex;
  align-items: center;
  gap: 3em;
}

.team-member .subtitle-bold {
  padding-bottom: 0vh;
}

.team-member > img {
  height: 10em;
  border-radius: 100vh;
}

.team-member .socials {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  gap: 0.3em;
}

.team-member .socials img {
  outline: 0.07em solid black;
  outline-offset: -0.03em;
  border-radius: 10vh;
  width: 1.5em;

  transition: outline-color 100ms, filter 100ms;
}

.team-member .socials img:hover {
  outline-color: white;
  filter: invert(1);
}

.team-member .normal-text-bold {
  padding-bottom: 0.5em;
}

@media (max-aspect-ratio: 7/4) or (max-width: 1200px) {
  .sideburn {
    background-image: unset;
  }

  .content-box {
    box-shadow: unset;
    width: 100vw;
  }
}

@media (max-aspect-ratio: 11/8) or (max-width: 850px) {

  .logo-title {
    width: 80vw;
    max-width: 20em;
  }

  .title-small {
    text-align: center;
  }

  .rounded-corners {
    border-radius: unset;
    width: 100vw;
    object-fit: cover;
    height: unset;
  }

  .content-box {
    width: 100vw;
    box-shadow: unset;
    padding: unset;
  }

  .content-box > .gap {
    height: 3em;
  }

  .sideburn {
    visibility: collapse;
  }

  .section-welcome {
    width: 100%;
    height: unset;
    flex-direction: column-reverse;
    padding-top: unset;
    gap: unset;
  }

  .section-welcome > .rounded-corners {
    height: unset;
  }

  .section-welcome > div {
    padding: 3em;
  }

  .section-welcome .normal-text {
    padding-bottom: unset;
    width: unset;
  }

  .section-synopsis {
    width: 100%;
    flex-wrap: wrap;
    gap: unset;
    justify-content: space-evenly;
  }

  .section-synopsis > div {
    padding: 2em;
  }

  .section-synopsis .marco {
    order: 2;
    padding: unset;
    height: unset;
    width: 41vw;
  }

  .section-synopsis .gio {
    order: 1;
    width: 40vw;
    height: unset;
    padding-bottom: 4vw;
  }

  .section-setting {
    padding: unset;
    flex-direction: column;
    gap: 0px;
  }
  
  .section-setting > img {
    height: unset;
  }

  .section-setting > div {
    padding: 2em;
  }

  .section-characters {
    width: 100vw;
  }

  .section-characters > .single-character {
    height: unset;
    width: 100vw;
    position: unset;
    display: flex;
    flex-direction: column;
  }

  .section-characters > .single-character > img {
    max-width: 700px;
    align-self: center;
  }

  .section-characters > .gio > .gio-crosslegged {
    width: 90vw;
  }

  .section-characters > .marco > .marco-reading-map {
    width: 90vw;
  }

  .section-characters > .single-character > div {
    position: unset;
    width: unset;
    flex-direction: column;
    gap: unset;
  }

  .section-characters .single-character > div > div {
    width: unset;
    padding: 2em;
  }

  .section-characters .single-character > div > .gio-crosslegged {
    width: 90vw;
  }

  .section-characters .gio-sitting {
    visibility: collapse;
    height: 0vh;
  }
  .section-characters .gio-crossarms {
    visibility: collapse;
    height: 0vh;
  }
  .section-characters .gio-couch {
    visibility: collapse;
    height: 0vh;
  }

  .section-characters .single-character > div > .marco-reading-map {
    width: 90vw;
  }

  .section-characters .marco-sitting {
    visibility: collapse;
    height: 0vh;
  }
  .section-characters .marco-standing-back {
    visibility: collapse;
    height: 0vh;
  }
  .section-characters .marco-standing-front {
    visibility: collapse;
    height: 0vh;
  }
  .section-characters .marco-sweating {
    visibility: collapse;
    height: 0vh;
  }
  
  .section-living-room {
    width: unset;
  }

  .section-living-room > div {
    display: flex;
    justify-content: center;
  }

  .section-living-room > div > img {
    padding: unset;
    height: unset;
    width: 120vw;
    object-fit: cover;
  }

  .section-contacts {
  padding: 3em;
  }

  .section-contacts br {
    display: none;
  }

  .newsletter > form {
    width: 80%;
  }

  .section-team {
    gap: 4em;
    padding: unset;
    padding-bottom: 8em;
  }

  .team-member {
    flex-direction: column;
    width: 70%;
  }

  .team-member .socials img {
    width: 1.7em;
  }

  .popup {
    align-items: end;
  }

  .popup > div {
    width: 100vw;
    max-width: unset;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    min-width: 0em;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .newsletter-form > form {
    flex-direction: column;
  }
}